* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #989898;
  font-size: 12px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container:after {
  clear: both;
  display: table;
  content: "";
}

header {
  background: #101010;
}
header .header_top .box-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
header .header_top .box-main .box-icon {
  margin-right: 20px;
}
header .header_top .box-main .box-icon .fas {
  color: #0C75BD;
}
header .header_top .box-main .box-icon a {
  margin-left: 8px;
  font-size: 13px;
}
header .header_top .box-main .box-icon a:hover {
  color: #fff;
}
header .header_bottom .box-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
header .header_bottom .box-main .box-logo img {
  width: 100px;
}
header .header_bottom .box-main .box-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header .header_bottom .box-main .box-menu ul li a {
  padding: 10px 25px;
  color: #fff;
  font-size: 14px;
}
header .header_bottom .box-main .box-menu ul li a:hover {
  text-decoration: none;
  color: #101010;
  background: #fff;
}

main #hero {
  background: url("../images/hero-painteressentials-7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}
main #hero .container {
  padding-top: 20px;
}
main #hero .container .col-lg-5 .box-main .box-title h2 {
  font-size: 26px;
  font-weight: bold;
}
main #hero .container .col-lg-5 .box-main .box-subtitle {
  font-size: 22px;
  margin-top: 20px;
}
main #hero .container .col-lg-5 .box-main .box-link ul li {
  margin-bottom: 10px;
}
main #hero .container .col-lg-5 .box-main .box-link ul li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
main #hero .container .col-lg-5 .box-main .box-link ul li a:before {
  content: ">";
  margin-right: 5px;
  color: gray;
}
main #hero .container .col-lg-5 .box-main .box-btn .button {
  background: #666;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 50px 10px 15px;
  position: relative;
  font-size: 14px;
  width: 200px;
}
main #hero .container .col-lg-5 .box-main .box-btn .button span {
  display: block;
  text-transform: capitalize;
  font-size: 13px;
}
main #hero .container .col-lg-4 .box-main {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  position: relative;
  height: 400px;
}
main #hero .container .col-lg-4 .box-main .box-top {
  position: relative;
}
main #hero .container .col-lg-4 .box-main .box-top .box-text p:first-child {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
main #hero .container .col-lg-4 .box-main .box-top .box-text p:last-child {
  text-transform: uppercase;
  color: #999;
  font-size: 14px;
}
main #hero .container .col-lg-4 .box-main .box-top .box-text .btn-primary {
  width: 126px;
  padding: 5px 20px;
  text-align: center;
  margin-bottom: 40px;
}
main #hero .container .col-lg-4 .box-main .box-top .box-img img {
  position: absolute;
  top: 0;
  right: 0;
}
main #hero .container .col-lg-4 .box-main .box-center {
  padding: 10px 10px 10px 15px;
  background: #fff;
  color: #101010;
}
main #hero .container .col-lg-4 .box-main .box-center h4 {
  text-transform: uppercase;
  font-weight: 600;
}
main #hero .container .col-lg-4 .box-main .box-center p {
  font-size: 14px;
  margin: 0;
}
main #hero .container .col-lg-4 .box-main .box-center a {
  color: #009cff;
  font-size: 12px;
}

main #menu-main {
  background: #E6E6E6;
}
main #menu-main .box-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 15px;
}
main #menu-main .box-menu ul li a {
  padding: 15px;
  font-size: 18px;
  color: #989898;
}
main #menu-main .box-menu ul li a:hover {
  text-decoration: none;
  background: #fff;
  color: #101010;
}

main #overview {
  background: url("../images/intro.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 80px;
}
main #overview .col-lg-10 .box-main .box-text {
  text-align: center;
}
main #overview .col-lg-10 .box-main .box-text h2 {
  font-weight: bold;
}
main #overview .col-lg-10 .box-main .box-content {
  margin: 20px auto;
}
main #overview .col-lg-10 .box-main .box-link {
  margin-top: 40px;
}
main #overview .col-lg-10 .box-main .box-link a {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
}
main #overview .col-lg-10 .box-main .box-link a:hover {
  text-decoration: none;
}
main #overview .col-lg-10 .box-main .box-link .far {
  font-size: 20px;
}
main #overview .col-lg-10 .box-main .box-img {
  margin-top: 60px;
}
main #overview .col-lg-10 .box-main .box-img img {
  width: 100%;
}

main #slide {
  padding-top: 80px;
  padding-bottom: 55px;
}
main #slide .col-lg-10 .box-main .box-text {
  text-align: center;
}
main #slide .col-lg-10 .box-main .box-content {
  margin: 20px auto;
}
main #slide .col-lg-10 .box-main .box-img {
  margin-top: 60px;
}
main #slide .col-lg-10 .box-main .box-img img {
  width: 100%;
}

main #fixed-bg {
  background: url("../images/fixed-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 650px;
}