$primary_color:#101010;
$secondary_color:#fff;

$width_logo:100px;

$grandezza_h1: 36px;
$grandezza_h2: 29px;
$grandezza_h3: 24px;
$grandezza_h4: 18px;

$grandezza_p: 18px;

$color_link:#989898;
$color_link_blue:#009cff;
$color_text_gray:#999;

$icon_color:#0C75BD;

$header_color:#101010;

$padding_section: 50px 0;
